.ofertas-details-page__link {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 20px;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: 5px;

    }

    svg {
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        svg {
            transform: translateX(-5px);
            transition: transform 0.3s ease-in-out;
        }
    }

}
