.button {
    background-color: #E65100;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        background-color: #FF6D00;
    }

    &--disabled {
        background-color: #353535;
        color: #ccd7d1;
        border: none;
        padding: 10px 15px;
        border-radius: 80px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
            background-color: #424242;
        }
    }
}