.practicas-page__link {
    background-color: #353535;
    color: #ccd7d1;
    border: none;
    padding: 10px 15px;
    border-radius: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1px;
    flex: 0 0 auto;
    text-decoration: none;

    &:hover {
        background-color: #424242;
    }
}	