.nav-bar__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px;
  height: 25px;
  transition: color 0.3s ease;

  &--active {
    background: #E65100;
    transition: color 0.3s ease;
  }

  &:not(&--active):hover {
    background: #282828;
  }
}

.nav-bar__nolink {
  color: #747474;
  text-decoration: none;
  font-weight: 500;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: default;
  height: min-content;
}
